.secao-site {
    justify-content: left;
    padding-top: 1vh;
    filter: drop-shadow(0vw 0vh .9vw rgba(0, 0, 0, .6));
}
.exemplo-site {
    display: flex;
    flex-direction: column;
    margin: 1vh auto;
}


.desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 13vw;
    background-repeat: no-repeat;
    background-position: 50% 11%;
    filter: drop-shadow(0vw 0vh .5vw rgba(0, 0, 0, .8));
}
.site {
    height: 10vw;
    width: 16.3vw;
    border-radius: 10%;
    filter: drop-shadow(0vw 0vh .5vw rgba(0, 0, 0, .8));
    transition: all 200ms ease-in-out;
}
.site:hover {
    cursor: pointer;
    filter: drop-shadow(0vw 0vh 1vw rgba(0, 0, 0, 1));
}


.site-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 7vw;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 16%;
    filter: drop-shadow(0vw 0vh .5vw rgba(0, 0, 0, .8));
    transition: all 200ms ease-in-out;
}
.phone {
    height: 15.5vw;
    width: 8vw;
    max-width: 360px;
    border-radius: 12%;
    filter: drop-shadow(0vw 0vh .3vw rgba(0, 0, 0, .8));
}
.site-mobile:hover {
    cursor: pointer;
    filter: drop-shadow(0vw 0vh 1vw rgba(0, 0, 0, 1));
}