@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

form, .titulo {
  max-width: 640px;
  margin: 50px auto;
  background: rgb(200, 230, 230);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 3vh rgba(0, 0, 0, .5);
  transition: 0.5s;
}

form input, form label, form button, .alternar {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button, .alternar {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 20px;
}

form button:hover, .alternar:hover {
  background: var(--primary-color-darker);
  transition: 0.5s;
}

table {
  margin: 1vh auto;
  margin-bottom: 1vh;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 3vh rgba(0, 0, 0, 1);
}
table caption {
  padding: 1vh;
  caption-side: top;
  text-align: left;
  font-style: italic;
  font-size: 2vmax;
  color: rgba(120, 0, 0, 0.75);
  background-color: rgba(255, 255, 255, 0.8);
  border: 0.1vh solid rgba(120, 0, 0, 0.7);
  text-shadow: 0 0 1vh rgba(0, 0, 0, 0.5);
}
table thead {
  text-align: center;
  font-size: 2vmax;
  text-shadow: .1vh .1vh .2vh rgba(0, 0, 0, .8);
}
table tbody {
  text-align: center;
  font-size: 1.5vmax;
  text-shadow: .1vh .1vh .2vh rgba(0, 0, 0, .8);
}
table td, table th {
  padding: 0.5vmin;
  border: 0.1vh solid rgba(120, 0, 0, 0.8);
}
table tfoot {
  text-align: center;
  font-size: 1.5vmax;
  background-color: rgba(120, 120, 120, 0.45);
  text-shadow: .4vh .2vh .5vh rgba(0, 0, 0, .8);
}
