/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Configuração geral das variáveis
    Estilo padrão para larguras maiores que 1200px
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
:root {
    font-size: 62.5%;

    --estilo-fonte-padrao: 'Roboto', sans-serif;
    --estilo-fonte-titulo: 'Montserrat', sans-serif;

    --display-infos: flex;
    --display-sites: flex;

    --url-borda-imagem: url("../img/wooden-frame.webp");
    --url-foto-perfil: url("../img/profile-pic.webp");
    --url-tarefas-desktop: url("../img/task-desktop.webp");
    --url-tarefas-mobile: url("../img/task-mobile.webp");

    --fonte-titulo: 2.6rem;
    --fonte-subtitulo: 2rem;
    --fonte-destaque: 1.9rem;
    --fonte-geral: 1.8rem;
    --fonte-observacao: 1.5rem;

    --destaque-maximo: 900;
    --destaque-alto: 800;
    --destaque-medio: 650;
    --destaque-normal: 550;

    --texto-cor-padrao: rgb(39, 39, 39);
    --texto-cor-destaque: rgb(8, 51, 54);
    --texto-sombra-padrao: 1px 1px .2rem rgb(100, 100, 100);
    --texto-sombra-titulo: 1px 1px .2rem rgb(100, 100, 100), 1px 1px .4rem rgb(191, 255, 234);

    --link-efeito: rgb(39, 39, 39);

    --fundo-parede: rgb(8, 51, 54);
    --fundo-quadro-padrao: rgb(191, 255, 234);
    --fundo-transparente: rgba(0, 0, 0, 0);
    --fundo-sessao: rgba(0, 0, 0, 0.2);

    --borda-padrao: solid .1vw rgba(0, 0, 0, .2);

    --espaco-padrao: max(.5vw, .5vh);
    --espaco-sessoes: max(2vw, 2vh);

    --radial-padrao: radial-gradient(rgba(0, 0, 0, 0),
            rgba(0, 0, 0, .1),
            rgba(0, 0, 0, .3) 100%);

    --transicao-padrao: all 200ms ease-in-out;
    --transicao-menu: all 200ms ease-in-out;

    --sombra-box-padrao: .1vw .1vw .5vw rgba(0, 0, 0, 0.7);
    --sombra-box-expand: .1vw .1vw 1vw rgba(0, 0, 0, 1);

    --sombra-especial: drop-shadow(.1vw .1vw .5vw rgba(0, 0, 0, 0.4));
    --sombra-especial-expand: drop-shadow(.1vw .1vw 1vw rgba(191, 255, 234, .6));
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Smooth scroll e setup básico
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.9);
}

*,
*::before,
*::after {
    color: var(--texto-cor-padrao);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: var(--fonte-geral);
    scroll-behavior: smooth !important;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    background-color: var(--fundo-parede);
    font-family: var(--estilo-fonte-padrao);
    font-weight: var(--destaque-normal);
    letter-spacing: .5px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Quadro Principal
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#quadro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
    margin: 3dvh auto;
    padding: 0 9px;
    height: 94dvh;
    width: 86vw;
    background-color: var(--fundo-quadro-padrao);
    border: 1vw solid var(--fundo-transparente);
    background-image: var(--radial-padrao);
    border-image-source: var(--url-borda-imagem);
    border-image-slice: 27 27 27 27;
    border-image-width: 1vw;
    border-image-outset: 0;
    border-image-repeat: round round;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 1);
    transition: var(--transicao-padrao);
}

section {
    margin: 1rem 0;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Seções do site
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#menu {
    width: 100%;
    border-bottom: .2rem ridge var(--texto-cor-destaque);
}

#secoes {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

.menu-item {
    transition: var(--transicao-menu);
}

.menu-item a {
    padding: .8rem;
    position: relative;
    text-decoration: none;
    color: var(--texto-cor-padrao);
    font-style: var(--estilo-fonte-titulo);
    font-size: var(--fonte-titulo);
    text-shadow: var(--texto-sombra-padrao);
    transition: var(--transicao-menu);
}

.menu-item a:hover,
.menu-item a:focus {
    color: var(--texto-cor-destaque);
    text-shadow: var(--texto-sombra-padrao);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Efeito no link do menu
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.menu-item a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0%;
    width: .2rem;
    background: var(--link-efeito);
    transition: var(--transicao-padrao);
}

.menu-item a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: .2rem;
    background: var(--link-efeito);
    transition: var(--transicao-padrao);
}

.menu-item a:hover::after,
.menu-item a:focus::after {
    width: 100%;
}

.menu-item a:hover::before,
.menu-item a:focus::before {
    height: 90%;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Efeito mudança de seção
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    100% {
        opacity: 0;
    }

    0% {
        opacity: 1;
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Wrapper geral
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.wrapper-descricao {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    list-style: inside;
    padding: var(--espaco-padrao);
    background-color: var(--fundo-transparente);
    border: var(--fundo-transparente);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Destaques
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.destaque {
    color: var(--texto-cor-destaque);
    font-size: var(--fonte-destaque);
    letter-spacing: 1px;
    text-shadow: var(--texto-sombra-padrao);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Apresentação de conhecimentos
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#infos {
    display: var(--display-infos);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: var(--espaco-padrao);
    width: 100%;
    background-color: var(--fundo-sessao);
    border: var(--borda-padrao);
    border-radius: .5rem;
    text-shadow: var(--texto-sombra-padrao);
    box-shadow: var(--sombra-box-padrao);
    transition: var(--transicao-padrao);
}

#infos:hover {
    box-shadow: var(--sombra-box-expand);
}

#apresentacao-geral {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: var(--espaco-padrao);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Foto de perfil
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#foto-perfil {
    background-image: var(--radial-padrao),
        var(--url-foto-perfil);
    background-size: cover;
    position: relative;
    margin: max(1vw, 1vh);
    height: 150px;
    width: 112.5px;
    box-shadow: 0 0 .5vw rgba(0, 0, 0, .8);
    transition: var(--transicao-padrao);
}

#foto-perfil:hover {
    box-shadow: 0 0 1vw rgba(0, 0, 0, 1);
    transform: scale(1.1);
}

#pino-icon {
    position: absolute;
    top: -16px;
    left: 50px;
    width: 30px;
    filter: drop-shadow(0 0 .5vw rgba(0, 0, 0, 1));
    transition: var(--transicao-padrao);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Apresentação Perfil
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#geral {
    width: 70%;
}

#texto-geral {
    padding: var(--espaco-padrao);
    line-height: 1.6;
}

#apresentacao-dev {
    display: flex;
    flex-direction: column;
}

.topico {
    display: flex;
    text-align: center;
    font-family: var(--estilo-fonte-titulo);
    font-size: var(--fonte-titulo);
    color: var(--texto-cor-destaque);
    text-shadow: var(--texto-sombra-padrao);
    border-top: .2rem ridge var(--texto-cor-destaque);
    border-bottom: .2rem ridge var(--texto-cor-destaque);
}

.subTopico {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: var(--espaco-padrao);
}

.detalhes li {
    font-size: var(--fonte-subtitulo);
    text-shadow: var(--texto-sombra-padrao);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Apresentação dos sites com demonstração de tecnologia dominada
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#sites {
    display: var(--display-sites);
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding: var(--espaco-sessoes);
    background-color: var(--fundo-sessao);
    box-shadow: var(--sombra-box-padrao);
    border-radius: .5rem;
    border: var(--borda-padrao);
    text-shadow: var(--texto-sombra-padrao);
    transition: var(--transicao-padrao);
}

#sites:hover {
    box-shadow: var(--sombra-box-expand);
}

#sites-preview {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Preview versão Desktop
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.site-desktop {
    display: flex;
    margin: auto .5vw;

    background-image: var(--url-tarefas-desktop);
    background-size: 7.55em 4.3em;
    background-repeat: no-repeat;
    background-position: top .26em left .98em;
}

#desktop {
    width: 9.5em;
    filter: var(--sombra-especial);
    transition: var(--transicao-padrao);
}

#desktop:hover {
    cursor: pointer;
    filter: var(--sombra-especial-expand);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Preview versão Mobile
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#site-mobile {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: var(--url-tarefas-mobile);
    background-size: 4.1em 8.64em;
    background-repeat: no-repeat;
    background-position: top .28em center;
}

.phone {
    margin: auto .5vw;
    height: 9.1em;
    width: 4.6em;
    filter: var(--sombra-especial);
    transition: var(--transicao-padrao);
}

.phone:hover {
    cursor: pointer;
    filter: var(--sombra-especial-expand);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Descrição do site
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#site-descricao {
    margin: auto .5vw;
    padding: .5vw;
}

.observacao {
    font-size: var(--fonte-observacao);
    color: var(--texto-cor-destaque);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Contatos e Download
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#contatos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: var(--espaco-padrao);
    padding: var(--espaco-padrao);
    width: 100%;
    background-color: var(--fundo-sessao);
    box-shadow: var(--sombra-box-padrao);
    border-radius: .5rem;
    border: var(--borda-padrao);
    text-shadow: var(--texto-sombra-padrao);
    transition: var(--transicao-padrao);
}

#contatos:hover {
    box-shadow: var(--sombra-box-expand);
}

.wrapper-contato {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--espaco-padrao);
    border: solid .1vw rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    text-shadow: var(--texto-sombra-padrao);
}

.wrapper-contato a {
    max-height: 200px;
    max-width: 200px;
    filter: var(--sombra-especial);
    transition: var(--transicao-padrao);
}

.wrapper-contato a:hover {
    filter: var(--sombra-especial-expand);
}