/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Configuração geral das variáveis
    Estilo padrão para larguras maiores que 1200px
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
:root {
    font-size: 62.5%;

    --estilo-fonte-padrao: 'Roboto', sans-serif;
    --estilo-fonte-titulo: 'Montserrat', sans-serif;

    
    /* Controle Sessões */
    --display-infos: flex;
    --display-sites: flex;

    /* URL Imagens */
    --url-borda-imagem: url("../img/wooden-frame.webp");
    --url-foto-perfil: url("../img/profile-pic.webp");
    --url-tarefas-desktop: url("../img/task-desktop.webp");
    --url-tarefas-mobile: url("../img/task-mobile.webp");

    /* Tamanho de Fonte */
    --fonte-titulo: 2.6rem;
    --fonte-subtitulo: 2rem;
    --fonte-destaque: 1.9rem;
    --fonte-geral: 1.8rem;
    --fonte-observacao: 1.5rem;

    /* Peso de Fonte */
    --destaque-maximo: 900;
    --destaque-alto: 800;
    --destaque-medio: 650;
    --destaque-normal: 550;

    /* Cor de Texto */
    --texto-cor-padrao: rgb(39, 39, 39);
    --texto-cor-destaque: rgb(8, 51, 54);

    /* Sombra de Texto */
    --texto-sombra-padrao: 1px 1px 2px rgba(0, 0, 0, 0.3);
    
    /* Cores Gerais */
    --fundo-parede: rgb(8, 51, 54);
    --fundo-quadro-padrao: rgb(191, 255, 234);
    --fundo-sessao: rgba(0, 0, 0, 0.2);
    --fundo-transparente: rgba(0, 0, 0, 0);

    --radial-padrao: radial-gradient(rgba(0, 0, 0, 0),
            rgba(0, 0, 0, .1),
            rgba(0, 0, 0, .3) 100%);

    /* Borda */
    --borda-padrao: solid .1vw rgba(0, 0, 0, .2);
    --borda-menu: 0 0 .8rem .8rem;

    /* Espaçamento */
    --espaco-padrao: max(1vw, 1vh);
    --espaco-sessoes: max(.5vw, .5vh);
    
    /* Transições */
    --transicao-padrao: all 200ms ease-in-out;
    --transicao-menu: all 300ms ease-in-out;
    
    /* Sombras box */
    --sombra-box-padrao: .1vw .1vw .5vw rgba(0, 0, 0, 0.7);
    --sombra-box-expand: .1vw .1vw 1vw rgba(0, 0, 0, 1);

    /* Sombras Especiais */
    --sombra-especial: drop-shadow(.1vw .1vw .5vw rgba(0, 0, 0, 0.4));
    --sombra-especial-expand: drop-shadow(.1vw .1vw 1vw rgba(191, 255, 234, .6));
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Smooth scroll e setup básico
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .3);
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.9);
}

*,
*::before,
*::after {
    font-size: var(--fonte-geral);
    text-shadow: var(--texto-sombra-padrao);
    color: var(--texto-cor-padrao);
}

body {
    background-color: var(--fundo-parede);
    font-family: var(--estilo-fonte-padrao);
    font-weight: var(--destaque-normal);
    letter-spacing: .5px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Quadro Principal
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#quadro {
    flex-direction: column;
    overflow: auto;
    margin: 3dvh auto;
    padding: 0;
    height: 94dvh;
    width: 94vw;
    background-color: var(--fundo-quadro-padrao);
    border: min(1vw, 1vh) solid var(--fundo-transparente);
    background-image: var(--radial-padrao);
    border-image-source: var(--url-borda-imagem);
    border-image-slice: 27 27 27 27;
    border-image-width: min(1vw, 1vh);
    border-image-outset: 0;
    border-image-repeat: round round;
    box-shadow: var(--sombra-box-padrao);
    transition: var(--transicao-padrao);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Texto em Destaque
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.destaque {
    color: var(--texto-cor-destaque);
    font-size: var(--fonte-destaque);
    letter-spacing: 1px;
    text-shadow: var(--texto-sombra-padrao);
}


#infos, #sites {
    max-width: 94%;
}
#contatos {
    max-width: 98%;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Menu
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
header, .navbar-brand, .nav-link, .dropdown-menu {
    transition: var(--transicao-menu);
}
header, .navbar {
    border-radius: var(--borda-menu);
}

header {
    width: 100%;
    margin-bottom: var(--espaco-padrao);
    box-shadow: var(--sombra-box-padrao);
}
header:hover {
    box-shadow: var(--sombra-box-expand);
}

.navbar-brand {
    color: var(--texto-cor-padrao);
    font-size: var(--fonte-subtitulo);
}

.navbar-brand:hover, .nav-link:hover {
    color: var(--texto-cor-destaque);
}

.navbar-nav {
    width: 100%;
    justify-content: space-evenly;
}

.dropdown-menu {
    max-height: 40vh;
    overflow-y: auto;
    background-color: rgb(235, 235, 235);
}
.dropdown-menu:hover {
    background-color: rgb(215, 215, 215);
}

.dropdown-item {
    border-radius: .5rem;
}
.dropdown-item:hover {
    color: var(--texto-cor-destaque);
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Apresentação de conhecimentos
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#infos {
    display: var(--display-infos);
    flex-direction: column;
    margin-top: var(--espaco-padrao);
    padding: var(--espaco-sessoes);
    background-color: var(--fundo-sessao);
    border: var(--borda-padrao);
    border-radius: .5rem;
    text-shadow: var(--texto-sombra-padrao);
    box-shadow: var(--sombra-box-padrao);
    transition: var(--transicao-padrao);
}
#infos:hover {
    box-shadow: var(--sombra-box-expand);
}

h2 {
    color: var(--texto-cor-destaque);
    font-size: var(--fonte-subtitulo);
    font-weight: bold;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Foto de perfil
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#foto-perfil {
    background-image: var(--radial-padrao),
        var(--url-foto-perfil);
    background-size: cover;
    position: relative;
    margin: max(1vw, 1vh);
    height: 150px;
    width: 112.5px;
    box-shadow: 0 0 .5vw rgba(0, 0, 0, .8);
    transition: var(--transicao-padrao);
}
#foto-perfil:hover {
    box-shadow: 0 0 1vw rgba(0, 0, 0, 1);
    transform: scale(1.1);
}

#pino-icon {
    position: absolute;
    top: -16px;
    left: 50px;
    width: 30px;
    filter: drop-shadow(0 0 .5vw rgba(0, 0, 0, 1));
    transition: var(--transicao-padrao);
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Apresentação dos sites com demonstração de tecnologia dominada
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#sites {
    display: var(--display-sites);
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: var(--espaco-padrao) auto;
    padding: var(--espaco-sessoes);
    background-color: var(--fundo-sessao);
    box-shadow: var(--sombra-box-padrao);
    border-radius: .5rem;
    border: var(--borda-padrao);
    text-shadow: var(--texto-sombra-padrao);
    transition: var(--transicao-padrao);
}
#sites:hover {
    box-shadow: var(--sombra-box-expand);
}

.arrow {
    transition: var(--transicao-padrao);
}

.arrow:hover {
    cursor: pointer;
    filter: var(--sombra-especial);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Preview versão Desktop
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.site-desktop {
    background-image: var(--url-tarefas-desktop);
    background-size: 7.55em 4.3em;
    background-repeat: no-repeat;
    background-position: top .26em left .98em;
}

#desktop {
    width: 9.5em;
    filter: var(--sombra-especial);
    transition: var(--transicao-padrao);
}

#desktop:hover {
    cursor: pointer;
    filter: var(--sombra-especial-expand);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Preview versão Mobile
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#site-mobile {
    background-image: var(--url-tarefas-mobile);
    background-size: 4.1em 8.64em;
    background-repeat: no-repeat;
    background-position: top .28em center;
}

.phone {
    height: 9.1em;
    width: 4.6em;
    filter: var(--sombra-especial);
    transition: var(--transicao-padrao);
}

.phone:hover {
    cursor: pointer;
    filter: var(--sombra-especial-expand);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Descrição do site
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#site-descricao {
    margin: auto .5vw;
    padding: .5vw;
}

.observacao {
    font-size: var(--fonte-observacao);
    color: var(--texto-cor-destaque);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Contatos e Download
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#contatos {
    align-items: center;
    margin-bottom: var(--espaco-padrao);
    padding: var(--espaco-sessoes);
    background-color: var(--fundo-sessao);
    box-shadow: var(--sombra-box-padrao);
    border-radius: .5rem;
    border: var(--borda-padrao);
    text-shadow: var(--texto-sombra-padrao);
    transition: var(--transicao-padrao);
}

#contatos:hover {
    box-shadow: var(--sombra-box-expand);
}

.wrapper-contato {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--espaco-padrao);
    border: solid .1vw rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    text-shadow: var(--texto-sombra-padrao);
}

.wrapper-contato a {
    max-height: 200px;
    max-width: 200px;
    filter: var(--sombra-especial);
    transition: var(--transicao-padrao);
}

.wrapper-contato a:hover {
    filter: var(--sombra-especial-expand);
}